{% include('base.html.twig') %}

<!DOCTYPE html>
<html>
<head>
  <title>{{ cuisine }}</title>
</head>

<body>
  <div class="container">
    <h2>{{ cuisine }}</h2>
    {% if restaurants is not empty %}
    <ul>
      {% for restaurant in restaurants %}
      <li><a href= "/restaurant/{{ restaurant.getId }}"> {{ restaurant.getName }}</a> rating: {{ restaurant.getRating }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    <form action="/" method="get">
      <button type="submit">go home</button>
    </form>
  </div>
</body>
</html>
