{% include('base.html.twig') %}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{ restaurant[0].getName }}</title>
</head>
<body>
  <div class="container">

    <h1>{{ restaurant[0].getName }}</h1>
    <h3>Restaurant rating: {{ restaurant[0].getRating }}</h3>
    <h2>Reviews:</h2>
    <ul>
      <li>{{restaurant[0].getReview}}</li>
    </ul>
    <a href="/"><button type="button">go home</button></a>

    <form action="/restaurant/delete/{{ restaurant[0].getId }}" method="post">
      <input type="hidden" name="_method" value="delete">
      <button type="submit">delete</button>
    </form>
    <h2>Update this restaurant:</h2>
    <form action="/update/{{ restaurant[0].getId }}" method="post">
      <input type="hidden" name="_method" value="patch">
      <label for="new_name">New name:</label>
      <input type="text" name="new_name">

      <label for="new_rating"> New rating:</label>
      <input type="number" name="new_rating" min="1" max="10" >

      <label for="new_review"> New review:</label>
      <input type="textarea" name="new_review">

      <button type="submit">Update</button>
    </form>
  </div>
</body>
</html>
